{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 mt-5">
                <h2 class="display-4 logo-font text-black">
                    Stay Active with Sport<strong>Styling</strong>
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg round-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid carousel">
        <p class="h1 text-lg-center text-black">Featured</p>
        <p class="h3 text-center text-black">Find from our great sports collection with better deals and great products</p> 
        <div class="container pb-2">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="500" >
                <div class="carousel-inner slider">
                    <!-- I'm just checking that the image might be adding to the images :) - Rebecca -->
                    {% for product in products %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="card p-2 m-4">
                            <div class="carousel-image text-center">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image.url }}"
                                             alt="{{ product.name }}" width="200" height="200">
                                    </a>
                                    <div class="card-body pb-0 text-lg text-black">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                {% else %}
                                    <img src="{{ MEDIA_URL }}home-background.jpg" alt="{{ product.name }}"
                                         class="card-img-top" width="200" height="200">
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden= "true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
        </div>
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}
