{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Favorites Page{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center my-5">
                    <h2 class="logo-font my-5">Wishlist</h2>
                </div>
            </div>
            <hr class="w-50 my-2">
            <div class="row">
                <!-- If wishlist exist, display the products -->
                {% if wishlist %}
                    {% for product in wishlist.products.all %}
                    <div class="col-6 col-md-4 col-lg-3" id="card-{{ product.id }}">
                        <div class="card mx-auto">
                            <div>
                                <!-- Product's image -->
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" 
                                            alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" 
                                            alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <!-- Remove from wishlist button -->
                                <div class="circle-overlay position-abs">
                                    <a href="{% url 'remove_from_wishlist' product.id %}" 
                                        role="button" class="btn-fav" aria-label="add to wishlist">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- Product's info -->
                            <div class="card-body pt-1 ps-0 pb-0">
                                <p class="card-text mb-0">{{ product.name }}</p>
                                <p class="mb-0 text-start fw-bold">${{ product.price }}</p>
                                {% if product.rating %}
                                    <small class="text-muted">
                                        <i class="fas fa-star mr-1"></i>{{ product.rating }} / 5
                                    </small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                            <!-- Add to Bag functionality -->
                            <div class="pt-3">
                                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        {% if product.has_sizes %}
                                            <div class="col-12">
                                                <select class="form-control form-select rounded-0 w-100" 
                                                    name="product_size" id="product_size_{{ product.id }}" required>
                                                    <option value="" disabled selected>Choose a size</option>
                                                    {% if product.category.name == 'women' %}
                                                        {% for size in sizes_women %}
                                                        <option value="{{ size }}">{{ size }}</option>
                                                        {% endfor %}
                                                    {% elif product.category.name == 'men' %}
                                                        {% for size in sizes_men %}
                                                            <option value="{{ size }}">{{ size }}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for size in sizes_kids %}
                                                            <option value="{{ size }}">{{ size }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        {% else %}
                                            <div class="col-12 bg-white">
                                                <div>
                                                    <p class="fs-6 mb-2 pt-1 bg-white">No sizes</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="col{% if s %}-12 mt-2{% endif %} bg-white">
                                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                                <span class="icon">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            <input type="submit" class="btn btn-outline-black rounded-0 mt-5" value="Add to Bag" id="{{ product.id }}">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <!-- If wishlist list is empty -->
            {% else %}
            <p class="text-center">Your Wish List is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}