<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <h2 class="logo-font text-black my-0">Sport<strong>Styling</strong></h2>
    </a>
    <div>
        <p class="col-md-4 mb-0 text-muted">For Education Purposes</p>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'account_signup' %}">Register</a>
                <a href="{% url 'account_login' %}">Login</a>
            </li>
        </ul>
    </div>                     
  </footer>