<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top bg-white">
    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <h2 class="logo-font text-black my-1">Sport<strong>Styling</strong></h2>
    </a>
    <div class="col-12 col-md-3 d-flex flex-column justify-content-center mt-3 mt-md-0">
        <ul class="list-unstyled list-inline w-100 d-flex justify-content-around">
            <li class="list-inline-item">
                <a href="https://www.facebook.com" role="button" class="btn social-circle" target="_blank"
                    rel="noopener" aria-label="Open our facebook page in a new tab">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.twitter.com" role="button" class="btn social-circle" target="_blank" rel="noopener"
                    aria-label="Open our twitter page in a new tab">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com" role="button" class="btn social-circle" target="_blank"
                    rel="noopener" aria-label="Open our instagram page in a new tab">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com" role="button" class="btn social-circle" target="_blank" rel="noopener"
                    aria-label="Open our youtube page in a new tab">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
        <div>
            <div>
                <p class="col-md-12 my-5 text-black">For Education Purposes</p>
            </div>
</footer>